In [186]:
import pandas as pd

# Series

In [187]:
data = [ 1, 2, 3, 4, 5]

In [188]:
s = pd.Series(data)

In [189]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [190]:
index = ['Linha ' + str(i) for  i in range(5)]

In [191]:
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [192]:
s = pd.Series(data =data, index =index)

In [193]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [194]:
data = {'Linha ' + str(i) : i + 1 for i in range(5) }

In [195]:
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [196]:
s = pd.Series(data)

In [197]:
s

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [198]:
s1 = s+ 2

In [199]:
s1

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
dtype: int64

In [200]:
s2 = s + s1
s2

Linha 0     4
Linha 1     6
Linha 2     8
Linha 3    10
Linha 4    12
dtype: int64

# Data Frame

In [201]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

In [202]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [203]:
df1 = pd.DataFrame(data = data)

In [204]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [205]:
index = ['Linha ' + str(i) for i in range(3)]

In [206]:
index

['Linha 0', 'Linha 1', 'Linha 2']

In [207]:
df1 = pd.DataFrame(data = data, index = index)

In [208]:
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [209]:
columns = ['Coluna ' + str(i) for i in range(3)]

In [210]:
columns

['Coluna 0', 'Coluna 1', 'Coluna 2']

In [211]:
df2 = pd.DataFrame(data = data, index = index, columns = columns)

In [212]:
df2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [213]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [214]:
data = [(1, 2, 3),
        (4, 5, 6),
        (7, 8, 9)]

In [215]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [216]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)

In [217]:
df3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [218]:
df1[df1 > 0] = 'A'
df1

         0  1  2
Linha 0  A  A  A
Linha 1  A  A  A
Linha 2  A  A  A

In [219]:
df2[df2 > 0] = 'B'
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [220]:
df3[df3 > 0] = 'C'
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [221]:
df4 = pd.concat([df1, df2, df3])
df4

           0    1    2 Coluna 0 Coluna 1 Coluna 2
Linha 0    A    A    A      NaN      NaN      NaN
Linha 1    A    A    A      NaN      NaN      NaN
Linha 2    A    A    A      NaN      NaN      NaN
Linha 0  NaN  NaN  NaN        B        B        B
Linha 1  NaN  NaN  NaN        B        B        B
Linha 2  NaN  NaN  NaN        B        B        B
Linha 0  NaN  NaN  NaN        C        C        C
Linha 1  NaN  NaN  NaN        C        C        C
Linha 2  NaN  NaN  NaN        C        C        C

In [222]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

         0  1  2 Coluna 0 Coluna 1 Coluna 2 Coluna 0 Coluna 1 Coluna 2
Linha 0  A  A  A        B        B        B        C        C        C
Linha 1  A  A  A        B        B        B        C        C        C
Linha 2  A  A  A        B        B        B        C        C        C